[submodule "packages/some-utils-three"]
	path = packages/some-utils-three
	url = https://github.com/jniac/some-utils-three.git
[submodule "packages/some-utils-ts"]
	path = packages/some-utils-ts
	url = https://github.com/jniac/some-utils-ts.git
[submodule "packages/some-utils-dom"]
	path = packages/some-utils-dom
	url = https://github.com/jniac/some-utils-dom.git
[submodule "packages/some-utils-react"]
	path = packages/some-utils-react
	url = https://github.com/jniac/some-utils-react.git
[submodule "packages/some-three-editor"]
	path = packages/some-three-editor
	url = https://github.com/jniac/some-three-editor
	branch = v0
