@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden; /* Disable scrolling */
  height: 100%; /* Ensure full-page height to avoid content overflow */
  touch-action: none; /* Prevent touch interactions like scrolling */
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --vw: 100vw;
  --vh: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  width: var(--vw);
  height: var(--vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.absolute-through {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.absolute-through > *:not(.absolute-through, .pointer-through) {
  pointer-events: all;
}

.pointer-through {
  pointer-events: none;
}

.pointer-through > *:not(.pointer-through, .absolute-through) {
  pointer-events: all;
}

select {
  background-color: transparent;
  color: unset;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
