.FlexLayoutDemo h2 {
  font-size: 1.2em;
}

.FlexLayoutDemo pre {
  display: inline-block;
  padding: 0 .25em;
  background-color: #fff1;
  border: #fff1 solid 1px;
  border-radius: 4px;
  font-size: .875em;
}

.FlexLayoutDemo strong.warning {
  font-weight: 400;
  border: #fc06 solid 1px;
  padding: .2em .4em;
  border-radius: .3em;
  background-color: #fc02;
}
