.Artboard {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: size;
}

.Artboard.square {
  padding: 4em;
}

.Artboard.square > div {
  width: 100cqmin;
  height: 100cqmin;
}

.Artboard.full > div {
  width: 100%;
  height: 100%;
}
